# Skopiuj ten plik jako .env.local i uzupełnij wartości

# Klucz API do The Movie Database (https://www.themoviedb.org/settings/api)
TMDB_API_KEY=twoj_klucz_tutaj


# Ścieżka do bazy danych SQLite (domyślnie medialog.db w katalogu projektu)
# DATABASE_URL=/data/medialog.db
